In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./src/data/2024-09-11/202409.csv")

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
df[df['umdNm'] == '가락동']

,aptDong,aptNm,aptSeq,bonbun,bubun,buildYear,buyerGbn,cdealDay,cdealType,dealAmount,dealDay,dealMonth,dealYear,dealingGbn,estateAgentSggNm,excluUseAr,floor,jibun,landCd,landLeaseholdGbn,rgstDate,roadNm,roadNmBonbun,roadNmBubun,roadNmCd,roadNmSeq,roadNmSggCd,roadNmbCd,sggCd,slerGbn,umdCd,umdNm,date_id
72,,헬리오시티,11710-8865,913,0,2018,개인,,,"190,000",3,9,2024,직거래,,99.60,27,913,1,N,,송파대로,345,0,2005011,0,11710,NaN,11710,개인,10700,가락동,2024-09-11
73,,우성,11710-61,96,1,1986,개인,,,"121,000",1,9,2024,중개거래,서울 송파구,58.46,5,96-1,1,N,,송파대로32길,8,0,4169335,1,11710,0.0,11710,개인,10700,가락동,2024-09-11